blessings==1.7
bpython==0.18
certifi==2019.11.28
chardet==3.0.4
curtsies==0.3.1
cycler==0.10.0
decorator==4.4.1
greenlet==0.4.15
idna==2.8
imageio==2.6.1
kiwisolver==1.1.0
matplotlib==3.0.3
networkx==2.4
numpy==1.18.1
opencv-python==4.1.2.30
Pillow==7.0.0
pkg-resources==0.0.0
Pygments==2.5.2
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
requests==2.22.0
scikit-image==0.15.0
scipy==1.4.1
six==1.14.0
urllib3==1.25.8
wcwidth==0.1.8
